body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

section {
  background: #20a6ff;
  box-sizing: border-box;
  color: #ffffff;
  height: 100vh;
  padding: 5em;
  width: 100%;

  h1 {
    font-size: 3em;
    margin: 1em 0 0;
  }

  p {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    opacity: 0.6;
  }

  button {
    background: #15527a;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: bold;
    margin-top: 50px;
    padding: 1em;
    text-transform: uppercase;
  }
}

section:nth-of-type(2) {
  background: #ade194;
  position: absolute;
  z-index: 5;

  p {
    color: #26336d;
    font-weight: 300;
    width: 70%;
  }
}

.hills {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.sun {
  top: 20%;
  position: absolute;
  left: 25%;
  width: 200px;
  z-index: 0;
}

.cloud {
  top: 20%;
  right: 10%;
  position: absolute;
  width: 150px;
  z-index: 1;
}

h2 {
  color: #15527a;
  font-size: 3.4em;
  text-transform: uppercase;
}

[data-scroll] {
  transition: transform 3s;
}

[data-scroll="in"] {
  transform: translateY(0);
}

[data-scroll="out"] {
  transform: translateY(200px);
}